{% extends "base.html" %} {% block content %}

<div class="auth-container">
  <div class="auth-card">
    <h2>Create Account</h2>
    <p class="sub-text">start your AI CAREER Journey</p>
    <form method="post">
      <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="create a password"
        required
      />
      <p class="sub-text">use atleast 6 characters</p>
      <button type="submit">sign up</button>
    </form>
    <p class="switch-auth">
      already have an account? <a href="/login">Login</a>
    </p>
  </div>
</div>
{% endblock %}
